
body{
	background-color: #60ABA7;
	color: #276A70;
	font-family: helvetica;
	font-size: 25px;
	text-align: center;
	min-width: 600px;
}

main{
	max-width: 75%;
	margin: auto;
}

#middagstips{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 25px;
	background-color: #DB6267;
	color: #276A70;
	cursor: pointer;
}

#box{
	background-color: #DB6267;
	max-width: 570px;
	height: 125px;
	padding: 45px;
	margin: 80px auto;
	-webkit-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.75);
}

#food-title{
	font-size: 40px;
	display: inline-block;
	margin-bottom: 8%;
}

#link{
	color: #276A70;	
}

#veg-parent{
	display: flex;
	justify-content: center;
}

input[type='checkbox']{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px;
}

input[type='checkbox']:checked::before{
    content: "✓";
    font-size: 18px;
}




